.header {
  &__address {
    display: block;
  }

  &__address-nav {
    @media screen and (min-width: $tablet-min) {
      display: block;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: center;
    }
  }

  &__address-item:not(:last-child) {
    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
      margin-bottom: 10px;
    }
    @media screen and (max-width: $mobile-max) {
      margin-bottom: 16px;
    }
  }

  &__address-link--mail,
  &__address-link--tel {
    display: inline;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;

    color: $text-color;
    fill: $text-color;
    transition: color $timing-animation, fill $timing-animation;
    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
      font-size: 12px;
      line-height: 1.16;
    }
    @media screen and (max-width: $mobile-max) {
      font-size: 18px;
      line-height: 1.16;
    }
  }
  &__address-link--mail:hover,
  &__address-link--mail:focus,
  &__address-link--tel:hover,
  &__address-link--tel:focus {
    color: $accent-color;
    fill: $accent-color;
    outline: transparent;
  }
}
