.client {
  &__container {
    @extend %container;
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: $desktop) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
  &__title {
    @extend %h;
    text-align: center;

    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;

    @media screen and (min-width: $desktop) {
      font-size: 36px;
      line-height: 1.16;
      margin-bottom: 50px;
    }
  }
  &__list {
    @media screen and (max-width: $tablet-max) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: center;
    }
  }
  // ! ITEM mobile
  &__item:not(:last-child) {
    @media screen and (max-width: $mobile-max) {
      margin-bottom: 30px;
    }
  }
  &__item:not(:nth-child(2n)) {
    @media screen and (max-width: $mobile-max) {
      margin-right: 30px;
    }
  }
  &__item {
    @media screen and (max-width: $mobile-max) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
  // ! ITEM tablet
  &__item:not(:nth-child(3n)) {
    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
      margin-right: 30px;
    }
  }
  &__item {
    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
      flex-basis: calc((100% - 2 * 30px) / 3);
      margin-bottom: 30px;
    }
  }
  // ! ITEM desctop
  &__item:not(:last-child) {
    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }
  &__item {
    @media screen and (min-width: $desktop) {
      flex-basis: calc((100% - 5 * 30px) / 6);
    }
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    fill: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    width: 100%;
    height: 90px;
    transform: scale(1);

    transition: transform $timing-animation, background-color $timing-animation,
      border $timing-animation, fill $timing-animation;
    &:hover,
    &:focus {
      transform: scale(1.15);
      background-color: #aaaaaa71;
      border: 1px solid $accent-color;
      fill: $accent-color;
    }
  }
}
