.client {
  &__container {
    @extend %container;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__title {
    @extend %h;
    font-size: 28px;
    line-height: 1, 17;

    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    @media screen and (max-width: $mobile-max) {
      width: calc((100% - 2 * 15px) / 2);
      // margin-right: 30px;
      // margin-bottom: 30px;
      &:nth-child(2n + 1) {
        margin-right: 30px;
      }
      &:nth-last-child(n + 3) {
        margin-bottom: 30px;
      }
    }
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    fill: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    width: 100%;
    height: 90px;

    transition: background-color $timing-animation, border $timing-animation,
      fill $timing-animation;
    &:hover,
    &:focus {
      background-color: #aaaaaa;
      border: 1px solid $accent-color;
      fill: $accent-color;
    }
  }
}
