.client {
  &__title {
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    fill: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    width: 170px;
    height: 90px;

    transition: background-color $timing-animation, border $timing-animation,
      fill $timing-animation;
    &:hover,
    &:focus {
      background-color: #aaaaaa;
      border: 1px solid $accent-color;
      fill: $accent-color;
    }
  }
}
