// ! палитра цветов макета
$primary-white: #ffffff;
$title-color: #212121;
$text-color: #757575;
// ! accent
$accent-color: #2196f3;
// ! timer animation
$timing-animation: 600ms cubic-bezier(0.4, 0, 0.2, 1);
// ! набор шрифтов
$font-family: "Roboto", "Raleway", "Lato", "Open Sans", sans-serif;
