.filter {
  @media screen and (max-width: $mobile-max) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  @media screen and (min-width: $tablet-min) {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  // ! ITEM
  &__item:not(:last-child) {
    margin-right: 8px;
    @media screen and (max-width: $mobile-max) {
      margin-bottom: 15px;
    }
  }
}
